<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskforandroid">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络连接 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取手机状态参数，并作为生成个推唯一标识的必要参数 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 查看网络状态，sdk重连机制等需要使用 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 查看wifi连接状态 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 开机自启动权限，提升sdk活跃，保障触达 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限（使用通知功能必选） -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" /> <!-- 自定义权限，为了防止小部分手机服务没法正常工作（可选） -->
    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- 忽略电池优化 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 写入内部存储数据权限 -->
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取内部存储数据权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 8.0安装apk权限，需要允许安装未知应用 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--    configChanges:在activity切换横竖屏的时候不会重新调用activity的生命周期;hardwareAccelerated:应用启动硬件加速-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_https_config"
        android:roundIcon="@drawable/ico"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".KeepLive.MyReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="1000"
            android:process=":live" />

        <service
            android:name=".KeepLive.backgroundMusic.MusicService"
            android:priority="1000"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".KeepLive.StartService"
            android:priority="1000"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".KeepLive.JobSchedule.MyJobService"
            android:priority="1000"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".KeepLive.topNotification.TopService"
            android:priority="1000"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".KeepLive.topNotification.TopService$InnerService"
            android:priority="1000"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".KeepLive.GTService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:priority="1000" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".KeepLive.onePx.PxActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activity.ProgressActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.BaseActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.BigImgActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.ItemActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated ="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.EditActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>